body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: gradientBackground 15s ease infinite;
  background: linear-gradient(-45deg, #3e1c53, #50266f, #5b1d74, #e493d0);
  background-size: 400% 400%;
  color: white;
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%
  }
}