body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  animation: gradientBackground 15s ease infinite;
  background: linear-gradient(-45deg, #ff8ec7, #ffe1ec, #5b1d74, #e493d0);
  background-size: 400% 400%;
  color: white;
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%
  }
}
.glow-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ffcbf2
  text-shadow
  0 0 5px #f0a3c0
  0 0 10px #f0a3c0
  0 0 20px #f0a3c0
  0 0 40px #e73c7e;
  animation: flicker 2.5s infinite alternate;
  text-align: center;
  margin-top: 40px;
}

@keyframes flicker {
  0% {opacity: 1;}
  50% {opacity: 0.85;}
  100% {opacity: 1;}
}